@font-face {
	font-family: 'Oswald'; 
	src: url(Font/Oswald-VariableFont_wght.ttf); 
}
@font-face {
	font-family: 'Oswald-Regular'; 
	src: url(Font/static/Oswald-Regular.ttf); 
}
@font-face {
	font-family: 'Oswald-light'; 
	src: url(Font/static/Oswald-Light.ttf); 
}

body{
    width: 1920px;
    height: 3000px;
    background-color: #262626;
    display: flex;
    align-items: center;
}
.container_menu{
    position: fixed;
    width: 320px;
    height: 3000px;
    background-image: url(img/menu1.png);
    transition: 0.3s;
}
.container_menu:hover{
    background-image: none;
    transition: 0.3s;
}
.ml{
    width: 320px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    margin-left: 0px;
    position: fixed;
    opacity: 0;
}
.ml:hover{
    transition: 0.3s;
    background-image: url(img/menu.png);
    opacity: 1;
}
.a1{
    text-decoration: none;
    color: rgb(78, 78, 78);
    font-family: 'Oswald-light';
    font-weight: 100;
    font-size: 40px;
    z-index: 2;
    opacity: 1;
    transition: 0.5s;
    text-align: left;
}
.a1:hover{
    font-size: 50px;
    transition: 0.1s;
    color: white;
}
.container_novosti{
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nazvanie{
    font-size: 225px;
    color: #B38F58;
    font-family: 'Oswald-Regular'; 
    margin: 0;
}
.stait1{
    color: white;
    width: 1400px;
    height: 2400px;
    background: #262626;
    box-shadow: 0px 0px 25.8px 3px rgba(204, 204, 204, 0.25);
    font-family: 'Oswald-light'; 
    padding: 50px;
}
.stait1 b{
    font-size: 66px;
    font-weight: 100;
}
.text1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text1 p{
    width: 700px;
    height: 2100px;
    font-size: 28px;
    text-align: justify;
    line-height: normal;
    text-transform: uppercase;
}
.p_p{
    text-align: end;
    color: #8E8E8E;
    font-size: 30px;
    text-decoration-line: underline;
    text-transform: uppercase;
}